= simple_form_for("user", :url => user_session_path) do |f|

  .form-inputs
    = f.input :email, :placeholder => 'user@domain.com'
    = f.input :password, :label => 'Пароль'

  .form-actions
    = f.button :submit, 'Войти'
