= simple_form_for("user", :url => user_session_path) do |f|

  .form-inputs
    = f.input :user_id, :collection => User.select([:name, :id]), :prompt => "Choose a User"
    = f.input :password, :label => 'Пароль'

  .form-actions
    = f.button :submit, 'Войти'
