%ul.breadcrumb
  %li
    = link_to 'Пользователи', users_path
    %span.divider /
    = link_to @user.name, @user
    %span.divider
      |
  %li.active редактирование

= render 'form'

- content_for :title do
  Пользователи / #{@user.name} - редактирование