%ul.breadcrumb
  %li
    = link_to 'Клиенты', clients_path
    %span.divider /
  %li
    = link_to @client.name, @client
    %span.divider
      |
  %li.active редактирование

= render 'form'

- content_for :title do
  Клиенты / #{@client.name} - редактирование