/ = link_to 'Места доставки для курьеров', couriers_companies_path
/ %br
/ %br
/ = link_to 'Сверка с постовщиком', events_path
/ = link_to 'Найти мероприятие', events_path
/ = link_to 'Поиск финансовых документов', events_path