= render 'search_form'

- if @events.any?
  = render :partial => "event", :collection => @events
- else
  %h4.pagination-centered Документов не найдено.

= render 'event_state_modal'

:javascript
  window.isDocumentsPage = true;
- if params[:search]
  :javascript
    window.documentsState = '#{params[:search][:state]}'

- content_for :title do
  Документы
