.client-table-label {
  display: inline-block;
  width: 100px;
  text-align: center;
  font-size: 11px;
}

.clients-name {
  width: 25%;
}
.clients-passport {
  width: 20%;
}
.clients-degree {
  width: 15%;
}
.clients-work {
  width: 15%;
}
.clients-notes {
  width: 15%;
}

@media (max-width: 1200px) {
  .clients-name {
    width: 20%;
  }
  .clients-passport {
    width: 25%;
  }
}