.company-nav, h3.company-name, .form-company {
  width: 800px;
  margin: 0 auto;
}

.form-company {
  margin-bottom: 30px;

  legend {
    margin: 20px 0 10px;
  }
}

.form-event-executor {
  .control-label {
    width: 330px;
    padding: 5px 10px 0 0;
  }
}

.company-nav {
  margin: 10px auto 20px;
}