.company-nav, h3.company-name, .form-company {
  width: 800px;
  margin: 0 auto;
}

.form-company {
  margin-bottom: 30px;

  legend {
    margin: 20px 0 10px;
  }
}

.form-event-executor {
  .control-label {
    width: 330px;
    padding: 5px 10px 0 0;
  }
}

.company-nav {
  margin: 10px auto 20px;
}

.company-members {
  padding-top: 15px;

  li {
    padding-bottom: 12px;
  }
}

#companyMemberModal {
  .modal-body {
    .control-label {
      width: 90px;
    }
    .controls {
      margin-left: 110px;
    }
    input {
      width: 395px;
    }
  }
}

.company-info {
  padding-bottom: 30px;

  h4 {
    margin: 25px 0 10px;

    &.no-margin {
      margin-top: 0;
    }
  }
  .row {
    margin-bottom: 10px;
  }
}

p.company-shortname {
  margin-bottom: 25px; 
}