.form-courier-task {
  .control-group.select {
    float: left;
    display: inline-block;
  }
  label {
    line-height: 22px;
  }
  .btn-primary-submit {
    margin: 0 0 -15px;
  }
}
.couriers-company-address {
  font-size: 12px;
}