.form-courier-task {
  .control-group.select {
    float: left;
    display: inline-block;
  }
  label {
    line-height: 22px;
  }
  .btn-primary-submit {
    margin: 0 0 -15px;
  }
}
.couriers-company-address {
  font-size: 12px;
}

h4.couriers-date {
  margin-bottom: 3px;
}

#couriers-map {
  width: 100%;
  height: 500px;
  margin: 10px 0 30px;
}