.form-courier-task {
  .control-group.select {
    float: left;
    display: inline-block;
  }
  label {
    margin-bottom: 8px;

    &.no-margin {
      margin-bottom: 0;
    }
  }
}
.btn-courier-place {
  margin: 2px 0 0 12px;
}
.btn-courier-go {
  position: relative;
  top: 8px;
}
.table-couriers-tasks {
  width: 700px;
}