.documents-header {
  position: relative;
}
.documents-header-search {
  padding-left: 105px;
}

.documents-search {
  td {
    padding: 3px 5px;
  }
  // tr:first-child {
  //   td {
  //     padding-top: 10px;
  //     padding-bottom: 20px;

  //     &:first-child {
  //       padding-top: 14px;
  //     }
  //   }
  // }
}

.document-search-input {
  width: 120px;
}

#submit-documents-search {
  margin-top: 10px;
}
.event-date {
  font-size: 12px;
  font-weight: normal;
  color: #bbb;
}

#documents-advanced-toggle {
  margin-left: 15px;
}