.table-events {
  th {
    cursor: pointer;
    border: 0;
  }
  td {
    vertical-align: middle;
  }
  .show {
    display: table-row;
  }
}

#reportrange {
  margin-left: 10px;
}

.events-title {
  width: 45%;
}

.events-customer {
  width: 24%;
}

.events-date {
  width: 8%;
  text-align: center;
}

.events-city {
  width: 15%;
}

#newEventModal {
  form {
    margin: 0;
  }
}

.event-subtitle {
  margin: 5px 0 25px;
}

.btn-archive {
  margin-right: 10px;
}