#table-events {
  th {
    cursor: pointer;
    border: 0;
  }
  td {
    vertical-align: middle;
  }
  .table-events-filters {
    th {
      cursor: default;
    }
  }
  .show {
    display: table-row;
  }
}

#reportrange {
  width: 170px;
}

.events-title {
  width: 40%;
}

.events-date {
  width: 85px;
}

.event-actions {
  width: 90px;
}