.content {
  background-color: #eee;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

.navbar {
  font-size: 13px;

  li {
    line-height: 21px;

    a {
      padding: 10px 5px;
    }
  }
}

hr {
  border-top-color: #E5E5E5;

  &.no-topmargin {
    margin-top: 3px;
  }
}

.no-margin {
  margin: 0;
}

h3, h4 {
  .btn {
    font-weight: normal;
  }
}

h4 {
  .btn-mini {
    margin-top: 0;
  }
}

h3.page-title {
  margin: 0 0 20px;
}

input[readonly] {
  cursor: pointer;
  background-color: transparent;
}

.input-date {
  width: 82px;
}

.table-links tbody tr {
  cursor: pointer;
}

legend label {
  margin-top: 14px;
}

.btn-mini .caret {
  margin-top: 8px;
}

.daterangepicker.dropdown-menu {
  z-index: 2000;
}

input.timepicker {
  width: 55px;
  margin-bottom: -17px;
}

.timepicker-icon {
  position: relative;
  left: -22px;
  top: 10px;
}

.dropdown-menu-narrow {
  min-width: 80px;
}

.btn-margin {
  margin-bottom: 5px;
}

.input-daterange {
  width: 170px;
}

input.input-modal-full {
  width: 510px;
}

select.input-modal-full {
  width: 525px;
}

.span-daterange {
  width: 215px;
}

input.input-required, select.input-required {
  border-color: #B94A48;
}

.modal {
  form {
    margin-bottom: 0;
  }
}

.inline-block {
  display: inline-block;
}

.logout-link {
  margin-left: 10px;
}

.table.table-borderless {
  td, th {
    border-top: 0;
  }
}