.content {
  background-color: #eee;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

input[readonly] {
  cursor: pointer;
  background-color: transparent;
}

.btn-mini .caret {
  margin-top: 8px;
}

.daterangepicker.dropdown-menu {
  z-index: 2000;
}

.dropdown-menu-narrow {
  min-width: 80px;
}

.btn-margin {
  margin-bottom: 5px;
}

.input-daterange {
  width: 170px;
}

input.input-modal-full {
  width: 510px;
}

select.input-modal-full {
  width: 525px;
}

.span-daterange {
  width: 215px;
}