@import "bootstrap";

* {
  background: transparent !important;
  color: #000 !important; /* Black prints faster: h5bp.com/s */
  box-shadow: none !important;
  text-shadow: none !important;
}

body {
  font-size: 12px;
}

table, tr, img, .print-not-break  {
  page-break-inside: avoid;
}

img {
  max-width: 100% !important;
}

hr {
  border-top-color: #000;
}

@page {
  margin: 0.5cm;
}

p,
h2,
h3 {
  orphans: 3;
  widows: 3;
}

h2,
h3 {
  page-break-after: avoid;
}

.navbar, .breadcrumb, .btn-print, #couriers-map, .print-hide, .alert {
  display: none;
  visibility: hidden;
}

.couriers-map-static {
  margin-top: 30px;
  display: block;
}

.table td {
  border: 0;

  &.td-35 {
    width: 30%;
  }
}

.events .table, .table.table-reports {
  border-collapse: collapse;
  border-spacing: 0;
  border-top: 1px solid #000;

  td, th {
    border: 1px solid #000;
  }
}

.table-center {
  td, th {
    text-align: center;
    vertical-align: middle;
    
    &.text-right {
      text-align: right;
    }
  }
}

a:link:after { content: ""; }