<p>Здраствуйте <%= @resource.email %>!</p>

<p>Для смены пароля пройдите по ссылке:</p>

<p><%= link_to 'Восстановить пароль', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Если вы не запрашивали инструкций по восстановлению пароля, то просто проигнорируйте это письмо.</p>
<p>Ваш пароль не будет изменен пока вы не пройдете по указанной выше ссылке и не укажите новый пароль.</p>